// vuetify样式修改
.v-navigation-drawer {
  padding-bottom: 30px;
}
.v-navigation-drawer .v-list__tile--active {
  border-right: 3px #008eff solid;
}
.v-navigation-drawer>.v-list .v-list__tile--active .v-list__tile__title {
  font-weight: bold;
}
.v-label, .v-input {
  font-size: 14px !important;
}
.v-input__slot {
  min-height: 36px !important;
  margin: 6px 0 5px 0;
}
.theme--light.v-list .v-list__tile--link:hover {
  background: rgba(0,0,0,0) !important;
}
/* 设置chrome滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(138, 138, 138, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(138, 138, 138, 0.4);
}
/*设置ie浏览器滚动条的样式*/
div{
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #73ccff;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: rgba(47, 65, 88, 0);
  /*滚动条整体颜色*/
  scrollbar-highlight-color: rgb(158, 158, 158);
  /*滚动条阴影*/
  scrollbar-shadow-color: rgba(51, 103, 133, 0);
  /*滚动条轨道颜色*/
  scrollbar-track-color: rgba(51, 103, 133, 0);
}
