body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    overflow: auto!important;
    font-weight: 400;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid rgba(155, 155, 155, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
    overflow: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a {
    color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

* {
    box-sizing: border-box;
}
