$body-font-family = 'Open Sans'
$font-size-root = 12px

@import '~vuetify/src/stylus/main'

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: rgba(144, 144, 144, 0.3) !important;
}